<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

# 1. Strings

##### 1. assign your name to a variable called name

In [57]:
name = "javi"

##### 2. get the first letter of your name

In [58]:
name[0]

'j'

##### 3. Using slicing make the first letter and concatenating or string formatting turn the first letter of your name in capital

In [59]:
name = name[0]
name = name + 'avi'
print(name)

javi

##### 4. Look for a method to make the first letter of a string capital letters and apply to your name

In [60]:
name = name.title()
print(name)

Javi

###### 5. What does your name look the other way around? get it using slicing methods

In [61]:
print(name[::-1])

ivaJ

###### 6. insert your name and surname into the next string by using string formatting.

In [62]:
'my name is : ___ and my suername ___'

xyz = f"my name is : {name} and my suername {'Chamorro'}"
print(xyz)

my name is : Javi and my suername Chamorro

###### 7. Create a list of words from the next sentence

In [63]:
'hello belgrave valley and friends'
www = 'hello belgrave valley and friends'
www = www.split()

In [64]:
print(www)

['hello', 'belgrave', 'valley', 'and', 'friends']

###### 8. Make the first letter of every word capital letter

In [65]:
w_upper = []
for x in www:
    x = x.title()
    w_upper.append(x)

print(w_upper)

['Hello', 'Belgrave', 'Valley', 'And', 'Friends']

###### 9. Create a string from the new list using the .join method

text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

#join elements of text with space
print(' '.join(text))

In [75]:
print(' '.join(w_upper))

Hello Belgrave Valley And Friends

# 2. Lists

Complete the questions using the following list:

In [66]:
mix = [12, 12.2, 'flower', 'a', (1, 2, 3)]

##### 1. add the string 'animal' to mix using .append()

In [67]:
mix.append('animal')

##### 2. join the list [1, 2] to mix using .extend()

In [68]:
mix.extend([1,2])
print(mix)

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

##### 3. add your name at the 2nd position of the list using .insert(index, your_name)

In [69]:
mix.insert(1, name)
print(mix)

[12, 'Javi', 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

##### 4. remove 'flower' from the list using .remove()

In [76]:
mix.remove('flower')

##### 5. count the number of times 12 appears in the list using .count()

##### 6. find the index integer of your name in the list using .index()

##### 7. remove the last element of the list and assign it to a variable with .pop()

##### 8. reverse the order of the elements in the list with .reverse()

##### 9. Create a list of integers and floats and sort it using .sort()

##### 10. Get only the values with even index from the list mix

#####Â 11. Get the x from the next lists

In [70]:
list_1 = [0,'x',1]
list_2 = [0,0,[0,1,2,'x']]
list_3 = [0,[0,1,2],[0,[0,0,'x']]]
list_4 = [0,[0,1,[0,1,[0,0,[['x']]]]]]

# 3. Foor Loops

In [71]:
numbers = [2,3,55,6,0.7,33,2,6765,80006]

##### 1. Print each number within the list

In [77]:
for x in numbers:
    print(x)

2
3
55
6
0.7
33
2
6765
80006

##### 2. Substract 20 to each elemens in the list and append it to a new list.

In [79]:
new_list = []
for x in numbers:
    new = x-20
    new_list.append(new)
print (new_list)

[-18, -17, 35, -14, -19.3, 13, -18, 6745, 79986]

##### 3. Multiply each element in the list from the previous exercise by 3 and append it to a new list.

In [81]:
new_list_2 = []
for x in new_list:
    new = x*3
    new_list_2.append(new)
print (new_list_2)

[-54, -51, 105, -42, -57.900000000000006, 39, -54, 20235, 239958]

##### 4. Divide each element in the list from the previous exercise by 6 and append it to a new list.

In [82]:
new_list_3 = []
for x in new_list_2:
    new = x/6
    new_list_3.append(new)
print (new_list_3)

[-9.0, -8.5, 17.5, -7.0, -9.65, 6.5, -9.0, 3372.5, 39993.0]

##### 5. Apply and exponential/power of 2 to each element in the list from the previous exercise and append it to a new list.

In [83]:
new_list_4 = []
for x in new_list_3:
    new = x**2
    new_list_4.append(new)
print (new_list_4)

[81.0, 72.25, 306.25, 49.0, 93.1225, 42.25, 81.0, 11373756.25, 1599440049.0]